* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter';
}

html, body {
    background-color: #2A2A2A;
}

.container {
    position: relative;
    width: 1440px;
    height: 2561px;
    margin: 0 auto;
    display: flex;
}

.frame {
    width: 1233px;
    height: 2439px;
    margin-left: 104px;
    margin-top: 56px;
}

.frame .frame1 {
    width: 1201px;
    height: 51px;
    display: flex;
    margin-left: 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.frame1 h1 {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1AA37A;
}

.frame1p1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B6B6B6;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 798px;
}

.frame1group {
    width: 442px;
    height: 51px;
    margin-left: 759px;
    gap: 32px;
    display: flex;
}

.frame1group .grouptext {
    width: 260px;
    height: 19px;
    margin-top: 16px;
    display: flex;
    gap: 32px;
}

.frame1group .grouptext p {
    width: 60px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B6B6B6;
    flex: none;
    order: 2;
    flex-grow: 0;
    cursor: pointer;
}

.groupbtn button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    width: 150px;
    height: 51px;
    background: #1AA37A;
    box-shadow: 0px 10px 57px rgba(157, 255, 179, 0.2);
    border-radius: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.groupbtn button p {   
    width: 86px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Frame 2 */

.frame2 {
    width: 1200px;
    height: 669px;
    margin-top: 112px;
    margin-left: 16.5px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.frame2group {
    width: 1167.88px;
    height: 654px;
    display: flex;
}

.frame2group .group1 {
    width: 582px;
    height: 557px;
}

.frame2group .group2 {
    width: 582px;
    height: 116px;
    gap: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.group2 p {
    position: absolute;
    width: 582px;
    height: 116px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.group2 font {
    color: #1AA37A;
}

.group2 .vector {
    position: absolute;
    margin-left: 270px;
    margin-top: 52px;
    width: 121.69px;
    border: 2px solid #1AA37A;
    transform: rotate(-3deg);
    border-radius: 100% / 30px 100px 0 0;
}

.group3 {
    width: 577px;
    height: 377px;
    margin-top: 64px;
    margin-left: 5px;
}

/* frame2group, card1 */

.group1 .card1 {
    width: 577px;
    height: 115px;
    gap: 24px;
    background: #3F3F3F;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    display: flex;
}

.group1 .card1 .rectangle {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin-left: 24px;
    margin-top: 24px;
}

.card1 .card1frame1 {
    width: 441px;
    height: 67px;
    margin-top: 24px;
}

.card1 .card1frame1 h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.card1 .card1frame1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ACACAC;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 10px;
}

/* frame2group, card2 */

.group3 .card2 {
    width: 577px;
    height: 115px;
    background: #3F3F3F;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    margin-top: 16px;
    display: flex;
    gap: 24px;
}

.group3 .card2 .rectangle {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin-left: 24px;
    margin-top: 24px;
}

.card2 .card2frame1 {
    width: 441px;
    height: 67px;
    margin-top: 24px;
}

.card2 .card2frame1 h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.card2 .card2frame1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ACACAC;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 10px;
}

/* frame2group, card3 */

.group3 .card3 {
    width: 577px;
    height: 115px;
    background: #3F3F3F;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(2px);
    border-radius: 10px;   
    margin-top: 16px;
    gap: 24px;
    display: flex;
}

.group3 .card3 .rectangle {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin-left: 24px;
    margin-top: 24px;
}

.card3 .card3frame1 {
    width: 441px;
    height: 67px;
    margin-top: 24px;
}

.card3 .card3frame1 h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.card3 .card3frame1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ACACAC;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 10px;
}

/* Investment */

.investment {
    width: 572.26px;
    height: 632px;
    margin-left: 13px;
}

.dots {
    position: absolute;
    width: 576.16px;
    height: 669px;
    margin-left: 623px;
    display: flex;
}

.dots .eclipse1 {
    position: absolute;
    width: 29.2px;
    height: 30px;
    background: #5380EA;
    border-radius: 50%;
    margin-left: 143.07px;
    margin-top: 70px;
}

.dots .eclipse2 {
    position: absolute;
    width: 29.2px;
    height: 30px;
    background: #5380EA;
    border-radius: 50%;
    margin-left: 544.04px;
    margin-top: 256px;
}

.dots .eclipse3 {
    position: absolute;
    width: 29.2px;
    height: 30px;
    border-radius: 50%;
    margin-left: 291.97px;
    margin-top: 617px;
    background: #F0B80D;
}

.dots .eclipse4 {
    position: absolute;
    width: 19.46px;
    height: 20px;
    border-radius: 50%;
    margin-left: 28.22px;
    margin-top: 131px;
    background: #F0B80D;
}

.dots .eclipse5 {
    position: absolute;
    width: 19.46px;
    height: 20px;
    border-radius: 50%;
    background: #5380EA;
    margin-left: 64.23px;
    margin-top: 626px;
}

.dots .eclipse6 {
    position: absolute;
    width: 19.46px;
    height: 20px;
    border-radius: 50%;
    background: #E49192;
    margin-left: 542.09px;
    margin-top: 461px;
}

.dots .eclipse7 {
    position: absolute;
    width: 19.46px;
    height: 20px;
    border-radius: 50%;
    background: #F0B80D;
    margin-left: 556.69px;
    margin-top: 173px;
}

.dots .eclipse8 {
    position: absolute;
    width: 19.46px;
    height: 20px;
    border-radius: 50%;
    background: #E49192;
    margin-left: 358.15px;
}

/* Frame3 */

.frame3 {
    position: absolute;
    width: 1233px;
    height: 163px;
    margin-top: 112px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    background: #1AA37A;
    box-shadow: 0px 34px 50px -20px rgba(26, 163, 122, 0.15);
    border-radius: 10px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.frame3group1 {
    width: 388.33px;
    height: 115px;
    gap: 24px;
    margin-left: 24px;
    margin-top: 24px;
    border-radius: 10px;
    display: flex;
    filter: drop-shadow(0px 24px 24px rgba(0, 0, 0, 0.08));
    backdrop-filter: blur(2px);
    border-radius: 10px;
}

.frame3group1 .padlock {
    width: 64px;
    height: 64px;
    margin-left: 24px;
    margin-top: 24px;
}

.frame3group1 .group2 {
    width: 252.33px;
    height: 67px;
    margin-top: 24px;
}

.frame3group1 .group2 h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.frame3group1 .group2 h4 {   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #004B35;
    margin-top: 10px;
}

/* frame3group2 */

.frame3group2 {
    display: flex;
    width: 388.33px;
    height: 115px;
    margin-top: 24px;
    border-radius: 10px;
    gap: 24px;
    filter: drop-shadow(0px 24px 24px rgba(0, 0, 0, 0.08));
    backdrop-filter: blur(2px);
    border-radius: 10px;
}

.frame3group2 .card1 {
    width: 64px;
    height: 60.08px;
    margin-left: 24px;
    margin-top: 24px;
}

.frame3group2 .card2 {
    width: 252.33px;
    height: 67px;
    margin-top: 24px;
}

.frame3group2 .card2 h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.frame3group2 .card2 h4 {  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #004B35;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 10px;
}

/* frame3group3 */

.frame3group3 {
    display: flex;
    width: 388.33px;
    height: 115px;
    margin-top: 24px;
    gap: 10px;
    filter: drop-shadow(0px 24px 24px rgba(0, 0, 0, 0.08));
    backdrop-filter: blur(2px);
    border-radius: 10px;
}

.frame3group3 .card1 {
    display: flex;
    width: 64px;
    height: 64px;
    margin-left: 24px;
    margin-top: 24px;
}

.frame3group3 .card2 {
    width: 252.33px;
    height: 67px;
    margin-top: 24px;
}

.frame3group3 .card2 h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.frame3group3 .card2 h4 {   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #004B35;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/* Frame4 */

.frame4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 282.07px;
    margin-left: 16.5px;
    margin-top: 387px;
}

.frame4card1 {
    width: 441px;
    height: 108.07px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.frame4group1 {
    width: 204.1px;
    height: 54.07px;
}

.frame4group1 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

.frame4group1 .vector {
    width: 203.96px;
    height: 1.29px;
    border: 0.1px solid #FFFFFF;
    transform: rotate(-1.34deg);
    background-color: #FFFFFF;
    border-radius: 100% / 100px 100px 0 0;
}

.frame4card1 p {  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ACACAC;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 16px;
}

/* frame4card2 */

.frame4card2 {
    width: 1000px;
    height: 150px;
    margin-top: 24px;
    display: flex;
}

.frame4card2 .ai-chevron-left {  
    position: relative; 
    color: white;
    font-size: 24px;
    top: 63px;
}

.frame4card2 .frame4group1 {
    position: absolute;
    width: 800.44px;
    height: 150px;
    margin-left: 99.78px;
    display: flex;
}

.frame4group1 .microsoftlogo {
    width: 300px;
    height: 150px;
}

.frame4group1 .twitterlogo {
    width: 88px;
    height: 72px;
    margin-left: 56px;
    margin-top: 39px;
}

.frame4group1 .cocacolalogo {
    width: 300.44px;
    height: 98.38px;
    margin-left: 56px;
    margin-top: 25.81px;
}

.frame4card2 .ai-chevron-right {
    position: absolute;
    color: white;
    font-size: 24px;
    margin-left: 952px;
    margin-top: 63px;
}

/* register */

.register {
    width: 1200px;
    height: 631px;
    margin-top: 112px;
    margin-left: 16.5px;
    display: flex;
}

.registergroup1 {
    width: 505px;
    height: 575px;
    margin-top: 28px;
}

.registergroup2 {  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #3F3F3F;
    border-radius: 10px;
    width: 575px;
    height: 631px;
    margin-left: 120px;
}

.regcard1 {
    position: absolute;
    display: grid;
    width: 441px;
    height: 106px;
    margin-left: 48px;
    margin-top: 48px;
}

.regcard1 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

.regcard1 p {   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ACACAC;
}

/* regcard2 */

.regcard2 {
    position: absolute;
    display: grid;
    width: 479px;
    height: 282px;
    margin-top: 202px;
    margin-left: 48px;
}

/* regcard2group1 */

.regcard2group1 {
    position: absolute;
    width: 479px;
    height: 78px;
    display: grid;
}

.regcard2group1 input[type=name] {
    position: absolute;
    width: 479px;
    height: 51px;
    color: #ACACAC;
    background: #505050;
    border-radius: 5px;
    margin-top: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.regcard2group1 label{   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.regcard2group1 font {
    color: #EB5939;
}

/* regcard2group2 */

.regcard2group2 {
    width: 479px;
    height: 78px;
    display: grid;
    margin-top: 110px;
}

.regcard2group2 input[type=company] {
    background: #505050;
    border-radius: 5px;
    width: 479px;
    height: 51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ACACAC;
    margin-top: 10px;
}

.regcard2group2 label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

/* regcard2group3 */

.regcard2group3 {
    width: 479px;
    height: 78px;
    margin-top: 20px;
}

.regcard2group3 input[type=email] {
    color: #ACACAC;
    width: 479px;
    height: 51px;
    margin-top: 10px;
    background: #505050;
    border-radius: 5px;
}

.regcard2group3 label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.regcard2group3 font {
    color: #EB5939;
}

/* regbtn */

.regbtn {
    width: 200px;
    height: 51px;
    margin-top: 532px;
    margin-left: 48px;
}

.regbtn button {
    width: 200px;
    height: 51px;
    background: #1AA37A;
    box-shadow: 0px 10px 40px rgba(157, 255, 179, 0.2);
    border-radius: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
}

/* footer */

.footer {
    width: 1,201px;
    height: 83px;
    margin-top: 112px;
    display: flex;
}

.footergroup1 {
    width: 87px;
    height: 29px;
    margin-top: 32px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer .footergroup1 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1AA37A;
}

.footergroup2 {
    width: 442px;
    height: 51px;
    margin-left: 673px;
    margin-top: 32px;
    display: flex;
}

.footergroup3 {
    width: 260px;
    height: 19px;
    margin-top: 16px;
    display: flex;
    gap: 32px;
}

.footergroup3 h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ACACAC;
    cursor: pointer;
}

.footerbtn {
    width: 150px;
    height: 51px;
    margin-left: 32px;
}

.footerbtn button {
    width: 150px;
    height: 51px;
    background: #1AA37A;
    box-shadow: 0px 10px 57px rgba(157, 255, 179, 0.2);
    border-radius: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}